
@inject IStringLocalizer<App> Localizer
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1 id="logo"><a href="">Nimeat</a></h1>

<nav id="nav">
    <ul>
        <li>
            <LanguageComboBox />
        </li>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                @Localizer["Home"]
            </NavLink>
        </li>
        <li>
            <NavLink href="lettercounter">
                @Localizer["Letter Counter"]
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li>
                    <NavLink href="counter">
                        @Localizer["Counter"]
                    </NavLink>
                </li>
                <li>
                    <NavLink href="fetchdata">
                        @Localizer["Fetch data"]
                    </NavLink>
                </li>
                <li>
                    <NavLink href="mousemgmt">
                        @Localizer["Mouse Management"]
                    </NavLink>
                </li>
                <li><a href="login" class="button primary" @onclick="(() => Logout())">@Localizer["Logout"]</a></li>
            </Authorized>
            <NotAuthorized>
                <li><a href="login" class="button primary">@Localizer["Login"]</a></li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>
@code{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}