@page "/mousemgmt"

@inject IStringLocalizer<App> Localizer
<h1>@Localizer["Mouse Management"]</h1>
<input type="radio"
       checked="@(selectedOsType=="win")"
       @onchange="@(()=>selectedOsType = "win")" />Window

<input type="radio"
       checked="@(selectedOsType=="mac")"
       @onchange="@(()=>selectedOsType = "mac")" />Mac

<br />
@selectedOsType

@code {
    string selectedOsType = "win";

}
